:host {
  display: block;
  width: 400px;
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.current-price {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;

  .label {
    font-size: 0.8em;
    color: rgba(var(--text-rgb), 0.7);
  }

  .value {
    font-weight: bold;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    font-size: 0.8em;
    color: rgba(var(--text-rgb), 0.7);
  }

  input {
    padding: 8px 12px;
    font-size: 1em;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  padding: 16px;
  border-top: 1px solid var(--background-low-contrast);
}

@media only screen and (max-width: 1000px) {
  :host {
    width: auto;
  }

  .footer {
    flex-direction: column;
    align-items: stretch;
  }
}
