<h3>Neuen Schnitt erstellen</h3>

<div class="form">
  <div class="form-field">
    <label for="name">Name</label>
    <input #name id="name" type="text" placeholder="z.B. Sommerkleid" autofocus [class.error]="nameError$ | async"
           (input)="updateName(name.value)">
    @if (nameError$ | async) {
      <span class="error">Bitte gib einen Namen ein</span>
    }
  </div>

  <div class="two-columns">
    <div class="form-field">
      <label for="originalPatternName">Originalname des Schnitts (optional)</label>
      <input #originalPatternName
             id="originalPatternName"
             type="text"
             (input)="updateOriginalPatternName(originalPatternName.value)">
    </div>
    <div class="form-field">
      <label for="designer">Schnittdesigner (optional)</label>
      <input #designer id="designer" type="text" (input)="updateDesigner(designer.value)">
    </div>
  </div>

  <div class="form-field">
    <label>Kategorien</label>
    @if (loadingAvailableCategories$ | async) {
      <div class="loading-container">
        <app-loading-spinner></app-loading-spinner>
      </div>
    } @else {
      @if (availableCategories$ | async; as categories) {
        @if (selectedCategories$ | async; as selectedCategories) {
          <app-chips [chips]="categoriesToChips(selectedCategories)"
                     [available]="categoriesToChips(categories)"
                     [alwaysShowOptions]="true"
                     [chipDropdownItemTemplateRef]="topicDropdownItemTemplateRef"
                     (removed)="onCategoryRemoved($event)"
                     (added)="onCategoryAdded($event)">
            <ng-template let-chip>
              {{ chip.label }}
            </ng-template>
          </app-chips>

          <ng-template #topicDropdownItemTemplateRef let-chip>
            {{ chip.label }}
          </ng-template>
        }
      }
    }
  </div>

  <div class="form-field">
    <label>Varianten</label>
    <app-variants [variants]="variants$ | async" (changed)="onVariantsChanged($event)"></app-variants>
    @if (variantsError$ | async) {
      <app-note level="error">
        Bitte gib mindestens eine Variante an. Jede Variante benötigt außerdem mindestens einen Namen sowie eine
        Größenangabe mitsamt Preis.
      </app-note>
    }
  </div>

  <div class="form-field">
    <label>Extras</label>
    <app-extras [extras]="extras$ | async" (changed)="onExtrasChanged($event)"></app-extras>
    @if (extrasError$ | async) {
      <app-note level="error">
        Jedes Extra benötigt einen Namen und einen Preis.
      </app-note>
    }
  </div>

  <div class="form-field">
    <label>Bilder</label>
    @if (imageIds$ | async; as imageIds) {
      @if (imageIds.length > 0) {
        <ul class="image-list" [nxtSortablejs]="imageIds">
          @for (imageId of imageIds; track imageId) {
            <li class="drag-handle">
              <img [src]="getImageUrl(imageId)" width="100%">
              <span class="delete-button material-icons" (click)="deleteImage(imageId)">close</span>
            </li>
          }
        </ul>
      }
    }

    @if (imageUploadActive$ | async) {
      <app-image-upload [multiple]="true"
                        [desiredWidth]="1024"
                        (uploaded)="onImagesUploaded($event)">
      </app-image-upload>
    } @else {
      <div class="add-image-button-container">
        <app-button (click)="activateImageUpload()">
          <span class="icon-button">
            <span class="material-icons">add</span>
            <span>
              Bilder hinzufügen
            </span>
          </span>
        </app-button>
      </div>
    }

    @if (imagesError$ | async) {
      <app-note level="error">
        Bitte lade mindestens ein Bild hoch.
      </app-note>
    }
  </div>
</div>

<div class="actions">
    <span>
      <app-button routerLink="..">Abbrechen</app-button>
    </span>
  <span>
      <app-button [disabled]="cannotSubmit$ | async" (click)="create()" color="primary">
        @if (creating$ | async) {
          <span class="loading-button-text">
            <app-loading-spinner size="16"></app-loading-spinner>
            <span>Erstellt...</span>
          </span>
        } @else {
          Erstellen
        }
      </app-button>
    </span>
</div>
