:host {
  display: block;
  width: 100%;
  user-select: none;

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    aspect-ratio: 5/4;
    object-fit: cover;
  }
}
