@if (getStep() | async; as step) {
  @switch (step) {
    @case ('file-select') {
      <app-file-select label="Bild" accept="image/png,image/jpeg" (selected)="onFileSelected($event)"></app-file-select>
    }
    @case ('preview') {
      <div class="fenced-container">
        <div class="preview-container">
          <h3 class="preview-title">Vorschau</h3>
          <div class="canvas-container">
            <canvas #canvas></canvas>
          </div>
          <div class="actions">
            <app-button (click)="reset()">Zurück</app-button>
            <app-button (click)="upload()" color="primary">Hochladen</app-button>
          </div>
        </div>
      </div>
    }
    @case ('upload') {
      <div class="fenced-container">
        <div class="upload-container">
          <app-loading-spinner size="48"></app-loading-spinner>
          <span>Dein Bild wird hochgeladen...</span>
        </div>
      </div>
    }
  }
}
