.wedding-page {
	padding: 24px;
	max-width: 1200px;
	margin: 0 auto;
}

p {
	font-size: 1.125rem;
	line-height: 1.75;
	color: var(--p-text-color);

	a {
		color: var(--p-primary-color);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.contact-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 18px 10px;

	.contact-button {
		font-family: Lexend, sans-serif;
		font-weight: 200;
		padding: 10px 20px;
		border-radius: 8px;
		border: 2px solid var(--p-primary-600);
		font-size: 28px;
		color: var(--p-text-color);
		background-color: var(--p-primary-color);
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;
		text-decoration: none;

		&:hover {
			background-color: var(--p-primary-600);
		}
	}
}

.images-container {
	margin-top: 16px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: start;
	gap: 16px;
}

.image {
	width: calc(50% - 8px);
	border-radius: 8px;
}

@media only screen and (max-width: 1000px) {
	.images-container {
		flex-direction: column;
	}

	.image {
		width: 100%;
	}
}
