:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  h2 {
    margin: 0;
  }
}

.upload-area {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.browser-container {
  flex: 1 1 auto;
  overflow: hidden;
}
