.product-link {
	text-decoration: none;
	color: inherit;
	display: flex;

	@media (hover: hover) {
		&:hover {
			opacity: 0.9;
		}
	}
}

.carousel-item {
	padding: 1rem 0.5rem;
	height: 100%;
}

.card-placeholder {
	aspect-ratio: 1 / 1.3;
	background-color: var(--p-surface-200);
	border-radius: 8px;
	animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
