:host {
  display: block;
}

.action-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

table.fabrics-table {
  width: 100%;
  border-collapse: collapse;

  tr {
    cursor: pointer;
    border-bottom: 1px solid var(--background-low-contrast);

    &:hover {
      background-color: var(--background-low-contrast);
    }

    &:last-child {
      border-bottom: none;
    }
  }

  td {
    vertical-align: middle;
    padding: 5px;

    &.image-cell {
      width: 70px;

      & > img {
        aspect-ratio: 1;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &.details-cell {
      .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;

        .created-at {
          color: rgba(var(--text-rgb), 0.7);
          font-size: 12px;
        }
      }
    }

    &.featured-cell {
      width: 50px;
      text-align: center;
      color: rgba(var(--text-rgb), 0.5);
    }

    &.published-cell {
      width: 50px;
      text-align: center;
      color: rgba(var(--text-rgb), 0.5);
    }
  }
}

.error-note {
  background-color: var(--primary-1);
  color: white;
  font-size: 14px;
  border-radius: 8px;
  padding: 8px 16px;
}

@media only screen and (max-width: 1000px) {
  .action-bar {
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;

    input {
      width: 100%;
      box-sizing: border-box;
    }
  }
}
