:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--contrast);
  border-radius: 12px;
  margin-bottom: 16px;
  overflow: hidden;
}

.sort-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown-header {
  border-bottom: 1px solid var(--background-low-contrast);
}

.dropdown-footer {
  border-top: 1px solid var(--background-low-contrast);
}

.dropdown-header, .dropdown-footer {
  white-space: nowrap;
}

@media only screen and (max-width: 1000px) {
  .filter-area {
    width: 50%;
  }

  app-mobile-switch {
    width: 100%;
  }

  .sort-area {
    width: 50%;
    flex-direction: column;
  }
}
