<h1>Kleine Gäste, großer Auftritt: Kinder- und Babykleidung für Hochzeiten und besondere Anlässe</h1>

<p>
  Kinder und Babys sind auf Hochzeiten immer ein Highlight.
  Es sind die kleinen Gäste, die für viel Freude und Abwechslung sorgen.
  Damit sie sich auch wohlfühlen und in die Umgebung einpassen, finden Sie hier die richtige Auswahl an <a
  href="/catalog/patterns">Schnitten</a> und <a href="/catalog/fabrics">Stoffen</a> aus denen wir Ihnen handgemachte Unikate zaubern.
</p>

<p>
  Wir verstehen, dass es nicht immer einfach ist, die richtige Kleidung für Kinder und Babys zu finden.
  Deshalb bieten wir Ihnen auch die Möglichkeit persönlich mit uns in Kontakt zu treten, um das perfekte Outfit für Ihre
  Kleinen zu finden.
</p>

<div class="contact-wrapper">
  <a class="contact-button" href="/contact">Schreiben Sie uns!</a>
</div>

<div class="images-container">
  <img class="image" src="/assets/images/landing/wedding/example1.jpg" alt="Kind im Kleid"/>
  <img class="image" src="/assets/images/landing/wedding/example2.jpg" alt="Kind im Dirndl"/>
</div>
