@if (isSticky() | async) {
  <div class="placeholder" [style.height.px]="headerHeight.orElse(0)"></div>
}

<div class="actual-header" [class.sticky]="isSticky() | async">
  <div class="container" [class.small]="isSticky() | async">
    <div class="logo" routerLink="/">
      <img src="assets/kicherkrabbe.svg" height="100%" />
      Kicherkrabbe
    </div>

    <div class="other">
      <div class="actions">
        <app-dark-mode-toggle></app-dark-mode-toggle>
      </div>
    </div>
  </div>
</div>
