<div class="header">
  <span class="title">
    {{ label }}
  </span>
</div>

@if (channel.type == EMAIL) {
  <div class="field">
    <label for="mail">E-Mail Adresse</label>
    <input
      #mail
      type="email"
      id="mail"
      name="mail"
      [value]="channel.mail.orElseThrow()"
      [class.error]="mailInvalidAndTouched$ | async"
      (input)="updateMail(mail.value, mail.checkValidity())" />
    <app-button color="primary" [disabled]="mailInvalid$ | async" (click)="finishEmail()">Fertig</app-button>
    <app-button (click)="cancel()">Abbrechen</app-button>
  </div>

  @if (mailInvalidAndTouched$ | async) {
    <app-note level="error">
      <span class="error-note">
        <span class="material-icons">error</span>
        <span>Ungültige E-Mail-Adresse</span>
      </span>
    </app-note>
  }
} @else if (channel.type == TELEGRAM) {
  <div class="field">
    <label for="telegramChatId">Telegram Chat ID</label>
    <input
      #telegramChatId
      type="text"
      id="telegramChatId"
      name="telegramChatId"
      [value]="channel.telegram.orElseThrow().chatId"
      (input)="updateTelegramChatId(telegramChatId.value)" />
    <app-button color="primary" [disabled]="telegramChatIdInvalid$ | async" (click)="finishTelegram()">
      Fertig
    </app-button>
    <app-button (click)="cancel()">Abbrechen</app-button>
  </div>
}
