.tradition-page {
	padding: 24px;
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
	font-size: 1.75rem;
	color: var(--p-surface-900);
}

p {
	font-size: 1.125rem;
	line-height: 1.75;
	color: var(--p-surface-900);
}

ul {
	font-size: 1.125rem;
	line-height: 1.75;
	color: var(--p-surface-900);
	padding-left: 24px;
}

li {
	line-height: 1.5;
	margin-bottom: 8px;
}

.contact-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 18px 10px;
}

.images-container {
	margin-top: 16px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: start;
	gap: 16px;
}

.image {
	width: calc(50% - 8px);
	border-radius: 8px;
}

@media only screen and (max-width: 1000px) {
	.images-container {
		flex-direction: column;
	}

	.image {
		width: 100%;
	}
}
