:host {
  display: block;
  width: 400px;
}

.content {
  padding: 16px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  padding: 16px;
  border-top: 1px solid var(--background-low-contrast);
}

@media only screen and (max-width: 1000px) {
  :host {
    width: auto;
  }

  .footer {
    flex-direction: column;
    align-items: stretch;
  }
}
