<div class="action-bar">
  <app-button routerLink="..">
    <span class="icon-button">
      <span class="material-icons">chevron_left</span>
      <span>Zurück</span>
    </span>
  </app-button>

  @if (getFabric() | async; as fabricOption) {
    @if (fabricOption.unwrap(); as fabric) {
      @if (isDeleteConfirmation() | async) {
        <app-button color="warn" (click)="deleteFabric(fabric)">
          <span class="icon-button">
            <span class="material-icons">delete</span>
            <span>Wirklich löschen?</span>
          </span>
        </app-button>
      } @else {
        <app-button (click)="waitForDeleteConfirmation()">
          <span class="icon-button">
            <span class="material-icons">delete</span>
            <span>Löschen</span>
          </span>
        </app-button>
      }
    }
  }
</div>

<app-loading-bar [visible]="isLoading() | async"></app-loading-bar>

@if (getFabric() | async; as fabricOption) {
  @if (fabricOption.unwrap(); as fabric) {
    <div class="fabric-details">
      <div class="fabric-detail">
        <label>
          Bild
          <app-button [size]="ButtonSize.SMALL" (click)="selectImage(fabric)">
            <span class="icon-button">
              <span class="material-icons">edit</span>
            </span>
          </app-button>
        </label>
        <div class="fabric-image">
          @if (getImageId() | async; as imageId) {
            <img [src]="getImageUrl(imageId) | authImage | async" alt="Bild des Stoffs" />
          } @else {
            <img [src]="getImageUrl(fabric.image) | authImage | async" alt="Bild des Stoffs" />
          }
        </div>
      </div>

      <div class="fabric-detail">
        <label>
          Beispielbilder
          <app-button [size]="ButtonSize.SMALL" (click)="editExampleImages(fabric)">
            <span class="icon-button">
              <span class="material-icons">edit</span>
            </span>
          </app-button>
        </label>
        <div class="fabric-example-images">
          @if (exampleImages$ | async; as images) {
            @if (images.length > 0) {
              <app-image-slider [images]="images" [theme]="theme$ | async"></app-image-slider>
            } @else {
              <app-note>Keine Beispielbilder vorhanden</app-note>
            }
          }
        </div>
      </div>

      <div class="fabric-detail">
        <label>Name</label>
        <form class="name-form" (submit)="(false)">
          <div class="form-group">
            <input
              #name
              id="name"
              name="name"
              type="text"
              [value]="fabric.name"
              (input)="updateTransientName(name.value)" />
            <app-button (click)="updateName(fabric)" [disabled]="cannotUpdateName() | async">Speichern</app-button>
          </div>

          @if (isFailedUpdatingName() | async) {
            <app-note level="error">Der Name konnte nicht aktualisiert werden. Bitte versuche es erneut.</app-note>
          }

          <button
            type="submit"
            class="hidden"
            (click)="updateName(fabric)"
            [disabled]="cannotUpdateName() | async"></button>
        </form>
      </div>

      <div class="fabric-detail">
        <label>Status</label>
        <div class="status-actions">
          @if (fabric.published) {
            <app-button color="warn" (click)="unpublishFabric(fabric)">Veröffentlichung aufheben</app-button>
            @if (fabric.featured) {
              <app-button color="warn" (click)="unfeatureFabric(fabric)">Nicht mehr hervorheben</app-button>
            } @else {
              <app-button (click)="featureFabric(fabric)">Hervorheben</app-button>
            }
          } @else {
            <app-button color="primary" (click)="publishFabric(fabric)">Veröffentlichen</app-button>
          }
        </div>
      </div>

      <div class="fabric-detail">
        <label>Themen</label>
        @if (isLoadingAvailableTopics() | async) {
          <div class="loading-container">
            <app-loading-spinner></app-loading-spinner>
          </div>
        } @else {
          @if (getAvailableTopics() | async; as topics) {
            @if (getSelectedTopics() | async; as selectedTopics) {
              <app-chips
                [chips]="topicsToChips(selectedTopics)"
                [available]="topicsToChips(topics)"
                [alwaysShowOptions]="true"
                [chipDropdownItemTemplateRef]="topicDropdownItemTemplateRef"
                (removed)="onTopicRemoved(fabric, selectedTopics, $event)"
                (added)="onTopicAdded(fabric, selectedTopics, $event)">
                <ng-template let-chip> {{ chip.label }}</ng-template>
              </app-chips>

              <ng-template #topicDropdownItemTemplateRef let-chip> {{ chip.label }}</ng-template>
            }
          }
        }
      </div>

      <div class="fabric-detail">
        <label>Farben</label>
        @if (isLoadingAvailableColors() | async) {
          <div class="loading-container">
            <app-loading-spinner></app-loading-spinner>
          </div>
        } @else {
          @if (getAvailableColors() | async; as colors) {
            @if (getSelectedColors() | async; as selectedColors) {
              <app-chips
                [chips]="colorsToChips(selectedColors)"
                [available]="colorsToChips(colors)"
                [alwaysShowOptions]="true"
                [chipDropdownItemTemplateRef]="colorDropdownItemTemplateRef"
                (removed)="onColorRemoved(fabric, selectedColors, $event)"
                (added)="onColorAdded(fabric, selectedColors, $event)">
                <ng-template let-chip>
                  <div class="color-chip">
                    <app-color-badge [color]="chip.content" size="20"></app-color-badge>
                    {{ chip.label }}
                  </div>
                </ng-template>
              </app-chips>

              <ng-template #colorDropdownItemTemplateRef let-chip>
                <div class="color-dropdown-item">
                  <app-color-badge [color]="chip.content"></app-color-badge>
                  {{ chip.label }}
                </div>
              </ng-template>
            }
          }
        }
      </div>

      <div class="fabric-detail">
        <label>Verfügbarkeit</label>
        @if (isLoadingAvailableFabricTypes() | async) {
          <div class="loading-container">
            <app-loading-spinner></app-loading-spinner>
          </div>
        } @else {
          @if (getAvailableFabricTypes() | async; as fabricTypes) {
            @if (getSelectedFabricTypes() | async; as selectedFabricTypes) {
              <app-chips
                [chips]="fabricTypesToChips(selectedFabricTypes)"
                [available]="fabricTypesToChips(fabricTypes)"
                [alwaysShowOptions]="true"
                [chipDropdownItemTemplateRef]="fabricTypeDropdownItemTemplateRef"
                (removed)="onFabricTypeRemoved(fabric, selectedFabricTypes, $event)"
                (added)="onFabricTypeAdded(fabric, selectedFabricTypes, $event)">
                <ng-template let-chip> {{ chip.label }}</ng-template>
              </app-chips>

              <ng-template #fabricTypeDropdownItemTemplateRef let-chip> {{ chip.label }}</ng-template>
            }
          }
        }
      </div>

      <div class="fabric-detail">
        <label>Erstellt am</label>
        <span class="fabric-created-at">{{ fabric.createdAt | date: "dd.MM.yyyy" }} um {{ fabric.createdAt | date: "HH:mm" }}</span>
      </div>
    </div>
  } @else {
    <app-note level="warn">Dieser Stoff konnte nicht gefunden werden.</app-note>
  }
}
