:host {
  display: block;
}

h3 {
  text-align: center;
}

.color-chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  input {
    width: 100%;
  }
}

.top-action-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.top-action-bar-actions {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.image-edit-centering-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image-edit-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 500px;
}

.created-at {
  font-size: 14px;
  color: rgba(var(--text-rgb), 0.7);
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.input-label-group {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.hidden {
  display: none;
}

.image-container {
  border-radius: 12px;
  overflow: hidden;
  aspect-ratio: 1;
}

.color-dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

@media only screen and (max-width: 1000px) {
  .actions {
    flex-direction: column;
    align-items: stretch;

    & > span {
      width: 100%;

      & > app-button {
        width: 100%;
      }
    }
  }

  .top-action-bar {
    flex-direction: column;
    align-items: center;
  }

  .top-action-bar-actions {
    flex-direction: column;
    width: 100%;
  }

  .image-edit-container {
    width: 100%;
  }

  .form-group {
    flex-direction: column;
    align-items: stretch;
  }
}
