:host {
  display: block;
}

label {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.action-bar {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.fabric-details {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.fabric-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-left: 2px solid var(--background-low-contrast);
  padding-left: 12px;

  & > label {
    font-size: 0.8em;
  }
}

.fabric-image {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  aspect-ratio: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.status-actions {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  input {
    width: 100%;
  }
}

.hidden {
  display: none;
}

.color-chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.color-dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

@media only screen and (max-width: 1000px) {
  .action-bar {
    flex-direction: column;
  }

  .status-actions {
    flex-direction: column;
  }

  .form-group {
    flex-direction: column;
    align-items: stretch;
  }
}
