<div class="action-bar">
  <app-button routerLink="..">
    <span class="icon-button">
      <span class="material-icons">chevron_left</span>
      <span> Zurück </span>
    </span>
  </app-button>
</div>

<app-loading-bar [visible]="loading$ | async"></app-loading-bar>

@if (mailLoaded$ | async) {
  @if (mail$ | async | ifSome; as mail) {
    <div class="mail-headers">
      <div class="mail-content-header sender">
        <label>Absender</label>
        <span class="sender-container">
          <span class="mail">{{ mail.sender.mail }}</span>
        </span>
      </div>

      <div class="mail-content-header receivers">
        <label>Empfänger</label>
        <span class="receivers-container">
          <span class="mail">{{ mail.getCommaSeparatedReceiverMails() }}</span>
        </span>
      </div>

      <div class="mail-content-header sent-at">
        <label>Gesendet</label>
        <span>{{ mail.sentAt | date: "medium" }}</span>
      </div>

      <hr />

      <div class="mail-content-header subject">
        <label>Betreff</label>
        <span>{{ mail.subject }}</span>
      </div>

      <div class="mail-content-header content">
        <label>Nachricht</label>
        <span class="text">
          {{ mail.text }}
        </span>
      </div>
    </div>
  } @else {
    <div class="mail-not-found">
      <span class="material-icons">mail</span>
      <span>Diese E-Mail konnte nicht gefunden werden.</span>
    </div>
  }
}
