<h3>Products</h3>

<p>A product will consist of the following:</p>

<ul>
  <li>Product number (equal to the article number)</li>
  <li>Links to the used pattern and fabrics (can be multiple)</li>
  <li>The composition of the used fabrics (cotton, elasthan, polyester, ...)</li>
  <li>A text (text area that supports formatting) of the used fabrics (Charge-ID and producer of the fabrics) and additional things like buttons, zippers, ...</li>
  <li>A text (text area that supports formatting) of risks ("Sicherheitshinweise")</li>
  <li>A date of when the product was produced (producedAt)</li>
  <li>A date of when the product was created (createdAt)</li>
</ul>
