:host {
  display: block;
}

.created-at {
  font-size: 14px;
  color: rgba(var(--text-rgb), 0.7);
}

.error {
  color: var(--red);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-left: 2px solid var(--background-low-contrast);
  padding-left: 12px;

  input {
    width: 100%;
  }

  & > .form-field-content {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding-top: 16px;
  margin-top: 28px;
  border-top: 1px solid var(--background-mid-contrast);
}
