http:
  middlewares:
    security-headers:
      headers:
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        stsPreload: true
        contentTypeNosniff: true
        frameDeny: true
        browserXssFilter: true
        referrerPolicy: strict-origin-when-cross-origin
        permissionsPolicy: "geolocation=(), microphone=(), camera=()"
    compress:
      compress:
        minResponseBodyBytes: 1024
    rate-limit-api:
      rateLimit:
        average: 30
        burst: 50
        period: 1s
        sourceCriterion:
          ipStrategy:
            depth: 0
    rate-limit-frontend:
      rateLimit:
        average: 100
        burst: 200
        period: 1s
        sourceCriterion:
          ipStrategy:
            depth: 0
