<div class="placeholder" *ngIf="isSticky() | async" [style.height.px]="headerHeight.orElse(0)"></div>

<div class="actual-header" [class.sticky]="isSticky() | async">
  <div class="container" [class.small]="isSticky() | async">
    <div class="logo" routerLink="/">
      <img src="assets/kicherkrabbe.svg" height="100%" />
      Kicherkrabbe
    </div>

    <div class="other">
      <div class="desktop">
        <nav class="navigation">
          <app-button-row #buttonRow [size]="ButtonSize.LARGE" [rounded]="false">
            <ng-container [ngTemplateOutlet]="links" [ngTemplateOutletInjector]="buttonRow.getInjector()">
            </ng-container>
          </app-button-row>
        </nav>
      </div>

      <div class="mobile">
        <nav class="navigation">
          <a (click)="openOverlay()">
            <span class="icon-link">
              <span class="material-icons">menu</span>
            </span>
          </a>
        </nav>
      </div>

      <div class="actions">
        <app-dark-mode-toggle></app-dark-mode-toggle>
      </div>
    </div>
  </div>
</div>

<div class="navigation-overlay mobile" *ngIf="isOverlayActive() | async">
  <div class="mobile-navigation-header">
    <span class="close-button" (click)="closeOverlay()">
      <span class="material-icons">close</span>
    </span>
  </div>
  <nav class="mobile-navigation">
    <app-button-column #buttonColumn [size]="ButtonSize.LARGE">
      <ng-container [ngTemplateOutlet]="links" [ngTemplateOutletInjector]="buttonColumn.getInjector()"> </ng-container>
    </app-button-column>
  </nav>
</div>

<ng-template #links>
  <app-button routerLink="/catalog/patterns" routerLinkActive="active">Schnitte</app-button>
  <app-button routerLink="/catalog/fabrics" routerLinkActive="active">Stoffe</app-button>
  <app-button routerLink="/contact" routerLinkActive="active">Kontakt</app-button>
</ng-template>
