:host {
  display: block;
}

.loading-button-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

@media only screen and (max-width: 1000px) {
  .actions {
    flex-direction: column;
    align-items: stretch;
  }
}
