@if (highlights$ | async; as highlights) {
  <div class="highlights-container">
    @if (highlights[0]; as left) {
      <div class="left-image">
        @if (left.link; as link) {
          <a [routerLink]="link">
            @if (left.usesImageLoader) {
              <img [ngSrc]="left.imageUrl" alt="Highlight" fill priority />
            } @else {
              <img [src]="left.imageUrl" alt="Highlight" />
            }
          </a>
        } @else {
          @if (left.usesImageLoader) {
            <img [ngSrc]="left.imageUrl" alt="Highlight" fill priority />
          } @else {
            <img [src]="left.imageUrl" alt="Highlight" />
          }
        }
      </div>
    }
    <div class="right-images">
      @if (highlights[1]; as rightTop) {
        <div class="top-image">
          @if (rightTop.link; as link) {
            <a [routerLink]="link">
              @if (rightTop.usesImageLoader) {
                <img [ngSrc]="rightTop.imageUrl" alt="Highlight" fill priority />
              } @else {
                <img [src]="rightTop.imageUrl" alt="Highlight" />
              }
            </a>
          } @else {
            @if (rightTop.usesImageLoader) {
              <img [ngSrc]="rightTop.imageUrl" alt="Highlight" fill priority />
            } @else {
              <img [src]="rightTop.imageUrl" alt="Highlight" />
            }
          }
        </div>
      }
      @if (highlights[2]; as rightBottom) {
        <div class="bottom-image">
          @if (rightBottom.link; as link) {
            <a [routerLink]="link">
              @if (rightBottom.usesImageLoader) {
                <img [ngSrc]="rightBottom.imageUrl" alt="Highlight" fill />
              } @else {
                <img [src]="rightBottom.imageUrl" alt="Highlight" />
              }
            </a>
          } @else {
            @if (rightBottom.usesImageLoader) {
              <img [ngSrc]="rightBottom.imageUrl" alt="Highlight" fill />
            } @else {
              <img [src]="rightBottom.imageUrl" alt="Highlight" />
            }
          }
        </div>
      }
    </div>
  </div>
}
