@if (sizes$ | async; as sizes) {
  @if (sizes.length > 0) {
    <table class="sizes-table">
      <thead>
      <tr>
        <th class="col-from">Von</th>
        <th class="col-to">Bis</th>
        <th class="col-unit">Einheit</th>
        <th class="col-price">Preis</th>
        <th class="col-actions"></th>
      </tr>
      </thead>
      <tbody>
        @for (size of sizes; track size.size.id) {
          @if (size.editing) {
            <tr>
              <td class="col-from">
                <input #from
                       type="text"
                       [value]="size.size.from"
                       (keydown.enter)="save(size, from.value, to.value, unit.value, price.value)">
              </td>
              <td class="col-to">
                <input #to
                       type="text"
                       [value]="stringifyOptionalNumber(size.size.to, '')"
                       (keydown.enter)="save(size, from.value, to.value,  unit.value,price.value)">
              </td>
              <td class="col-unit">
                <input #unit
                       type="text"
                       [value]="size.size.unit.orElse('')"
                       (keydown.enter)="save(size, from.value, to.value, unit.value, price.value)">
              </td>
              <td class="col-price">
                <input #price
                       type="text"
                       [value]="size.size.price.formatted()"
                       (keydown.enter)="save(size, from.value, to.value,  unit.value,price.value)">
              </td>
              <td class="col-actions">
                <div class="row-actions">
                  <app-button [size]="ButtonSize.SMALL"
                              color="primary"
                              (click)="save(size, from.value, to.value, unit.value, price.value)">
                    <span class="material-icons">check</span>
                  </app-button>
                  <app-button [size]="ButtonSize.SMALL"
                              color="warn"
                              (click)="cancel(size)">
                    <span class="material-icons">close</span>
                  </app-button>
                </div>
              </td>
            </tr>
          } @else {
            <tr>
              <td class="col-from">{{ size.size.from }}</td>
              <td class="col-to">{{ stringifyOptionalNumber(size.size.to, '-') }}</td>
              <td class="col-unit">{{ size.size.unit.orElse('-') }}</td>
              <td class="col-price">{{ size.size.price.formatted() }}</td>
              <td class="col-actions">
                <div class="row-actions">
                  <app-button [size]="ButtonSize.SMALL" (click)="edit(size)">
                    <span class="material-icons">edit</span>
                  </app-button>
                  <app-button [size]="ButtonSize.SMALL" color="warn" (click)="delete(size)">
                    <span class="material-icons">delete</span>
                  </app-button>
                </div>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  }
}

<div class="sizes-actions">
  <app-button [size]="ButtonSize.SMALL" (click)="add()">
      <span class="icon-button">
        <span class="material-icons">add</span>
        <span>Größe hinzufügen</span>
      </span>
  </app-button>
</div>
