@if (filters$ | async; as filters) {
  <app-filter-sort-bar [filters]="filters"
                       [sortingOptions]="sortingOptions"
                       (filtered)="updateFilters($event.filters)"
                       (sorted)="updateSorting($event.option, $event.ascending)">
  </app-filter-sort-bar>
}

@if (items$ | async; as items) {
  @if (items.length > 0) {
    <div class="scroll-container"
         infiniteScroll
         (scrolled)="onScroll()">
      <app-card-list [items]="items" [template]="template" [descriptionTemplate]="descriptionTemplate"></app-card-list>
    </div>
  } @else if (notLoading$ | async) {
    <div class="no-results-hint">
      <p>Es konnten keine Stoffe gefunden werden.</p>
    </div>
  }
}

<app-loading-bar [visible]="loading$ | async"></app-loading-bar>

<ng-template #template let-item>
  <div class="repeated-fabric-image" [style.background-image]="'url(' + item.imageUrl + ')'"></div>
</ng-template>

<ng-template #descriptionTemplate let-item>
  <div class="description">
    <div class="title">{{ item.title }}</div>
    @if (item.content | ifSome; as content) {
      <div class="availability-status">
        @if ($any(content).inStock) {
          <span class="in-stock-badge"></span> Auf Lager
        } @else {
          <span class="out-of-stock-badge"></span> Nachbestellbar
        }
      </div>
    }
  </div>
</ng-template>

<ng-template #colorItemTemplate let-item>
  <div class="color-item">
    <app-color-badge [color]="item.content.color" size="20"></app-color-badge>
    <span>{{ item.label }}</span>
  </div>
</ng-template>
