@if (filters$ | async; as filters) {
  <app-filter-sort-bar [filters]="filters"
                       [sortingOptions]="sortingOptions"
                       (filtered)="updateFilters($event.filters)"
                       (sorted)="updateSorting($event.option, $event.ascending)">
  </app-filter-sort-bar>
}

@if (items$ | async; as items) {
  @if (items.length > 0) {
    <app-card-list [items]="items" [template]="template"></app-card-list>
  } @else {
    <div class="no-results-hint">
      <p>Es konnten keine Stoffe gefunden werden.</p>
    </div>
  }
}

<ng-template #template let-item>
  <div class="repeated-fabric-image" [style.background-image]="'url(' + item.imageUrl + ')'"></div>
</ng-template>
