:host {
  display: block;
  position: relative;
}

.repeated-fabric-image {
  background-repeat: repeat;
  background-size: 50%;
  aspect-ratio: 1 / 1;
  transition: background-size 0.2s ease-out;
  background-position: center;
  border-radius: 8px;

  &:hover {
    background-size: 100%;
  }
}

.sort-filter-header {
  position: sticky;
  top: 128px;
  height: 48px;
  width: 98%;
  margin-left: 1%;
  margin-bottom: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 48px;
  padding: 0 24px;
  background-color: var(--background);
  box-shadow: 0 6px 12px 0 rgba(var(--shadow-rgba));
  box-sizing: border-box;
}

.no-results-hint {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--contrast);
  border-radius: 12px;
  padding: 8px;
  text-align: center;
}

.color-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: left;

  .title {
    font-size: 18px;
  }

  .availability-status {
    font-weight: 200;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
  }

  .in-stock-badge, .out-of-stock-badge {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }

  .in-stock-badge {
    background-color: var(--green);
  }

  .out-of-stock-badge {
    background-color: var(--red);
  }
}
