<div class="action-bar">
  <input #search type="text" placeholder="Suchen..." (input)="updateSearch(search.value)"/>
  <app-button routerLink="create">
    <span class="icon-button">
      <span class="material-icons">add</span>
      <span>
        Neue Farbe
      </span>
    </span>
  </app-button>
</div>

<app-loading-bar [visible]="isLoading() | async"></app-loading-bar>

@if (getColors() | async; as colors) {
  @if (colors.length === 0) {
    @if (isSearching() | async) {
      <p>Es gibt keine Farben, die deiner Suche entsprechen.</p>
    } @else if (isFailed() | async) {
      <app-note level="error">
        Es ist ein Fehler aufgetreten. Bitte versuche es später erneut.
      </app-note>
    } @else {
      <p>Es gibt noch keine Farben. Versuche eine anzulegen.</p>
    }
  } @else {
    <ul class="colors-list">
      @for (color of colors; track color.id) {
        <li [routerLink]="[color.id]">
          <app-color-badge [color]="color.toValue()" [size]="32"></app-color-badge>
          <span class="details">
            <span class="name">
              {{ color.name }}
            </span>
            <span class="created-at">
              Erstellt am {{ color.createdAt | date: 'dd.MM.yyyy' }} um {{ color.createdAt | date: 'HH:mm' }} Uhr
            </span>
          </span>
        </li>
      }
    </ul>
  }
}
