:host {
  display: block;
}

.action-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

ul.colors-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid var(--background-low-contrast);
    padding: 12px 16px;

    .details {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .created-at {
        color: rgba(var(--text-rgb), 0.7);
        font-size: 12px;
      }
    }

    &:hover {
      background-color: var(--background-low-contrast);
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.error-note {
  background-color: var(--primary-1);
  color: white;
  font-size: 14px;
  border-radius: 8px;
  padding: 8px 16px;
}

@media only screen and (max-width: 1000px) {
  .action-bar {
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;

    input {
      width: 100%;
      box-sizing: border-box;
    }
  }
}
