<h1>Bayerische Tracht für kleine Herzen – Traditionell und hochwertig, handgemacht in Bayern</h1>

<p>
  Traditionelle Tracht mit einem bequemen Twist? Gerade für unsere Kleinsten ist Bewegungsfreiheit und Bequemlichkeit
  ein absolutes Muss. Um diese zu garantieren kombinieren wir wunderschöne moderne Schnitte mit weichen dehnbaren
  Stoffen. So wird euer Mini-Me beim nächsten Volksfest der Hit! 😉
</p>

<ul>
  <li><strong>Handgemacht aus Bayern:</strong> Wir stellen jedes Kleidungsstück in Handarbeit her - und das direkt in
    Bayern!
  </li>
  <li><strong>Individuell:</strong> Jedes Kleidungsstück wird mit viel Liebe zum Detail gefertigt. In einem persönlichen
    Gespräch - schriftlich oder telefonisch - kreieren wir das perfekte Unikat
  </li>
  <li><strong>Qualität:</strong> Wir verwenden nur die besten Stoffe und Materialien. Weil unsere Kinder das wert sind.
  </li>
</ul>

<div class="contact-wrapper">
  <a class="contact-button" href="/contact">Schreiben Sie uns!</a>
</div>

<div class="images-container">
  <img class="image" src="/assets/images/landing/tradition/example1.jpg" alt="Kind in Lederhose"/>
  <img class="image" src="/assets/images/landing/tradition/example2.jpg" alt="Kind im Dirndl"/>
</div>
