<div class="container">
  <app-loading-bar [visible]="isLoading() | async"></app-loading-bar>

  @if (getFabricType() | async; as fabricTypeOption) {
    @if (fabricTypeOption.unwrap(); as fabricType) {
      <span class="created-at">
        Erstellt am: {{ fabricType.createdAt | date: "dd.MM.yyyy" }} um {{ fabricType.createdAt | date: "HH:mm" }} Uhr
      </span>

      <hr />

      <form class="name-form" (submit)="(false)">
        <div class="form-group">
          <span class="input-label-group">
            <label for="name">Name</label>
            <input
              #name
              id="name"
              name="name"
              type="text"
              [value]="fabricType.name"
              (input)="updateTransientName(name.value)" />
          </span>
          <app-button (click)="updateName(fabricType)" [disabled]="cannotUpdateName() | async">Speichern</app-button>
        </div>

        @if (isFailedUpdatingName() | async) {
          <app-note level="error"> Der Name konnte nicht aktualisiert werden. Bitte versuche es erneut. </app-note>
        }

        <button
          type="submit"
          class="hidden"
          (click)="updateName(fabricType)"
          [disabled]="cannotUpdateName() | async"></button>
      </form>

      <hr />

      <div class="actions">
        <span>
          <app-button routerLink="..">Zurück zur Übersicht</app-button>
        </span>
        <span>
          @if (isDeleteConfirmation() | async) {
            <app-button color="warn" (click)="deleteFabricType(fabricType)">Wirklich löschen?</app-button>
          } @else {
            <app-button (click)="waitForDeleteConfirmation()">Stoffart löschen</app-button>
          }
        </span>
      </div>
    } @else {
      <p>Die Stoffart konnte nicht gefunden werden.</p>
    }
  }
</div>
