<h3>Neues Produkt erstellen</h3>

<div class="product-details">
  <div class="product-detail">
    <label>
      Bilder
      @if (images$ | async; as images) {
        <app-button [size]="ButtonSize.SMALL" [disabled]="creating$ | async" (click)="editImages(images)">
          <span class="icon-button">
            <span class="material-icons">edit</span>
          </span>
        </app-button>
      }
    </label>
    <div class="product-images">
      @if (imageSliderImages$ | async; as images) {
        @if (images.length > 0) {
          <app-image-slider [images]="images"
                            [theme]="theme$ | async">
          </app-image-slider>
        } @else {
          <span class="image-placeholder">
            <span class="material-icons">image</span>
          </span>
        }
      }
    </div>
  </div>

  @if (links$ | async; as links) {
    <div class="product-detail">
      <label>
        Links
        <app-button [size]="ButtonSize.SMALL" [disabled]="creating$ | async" (click)="addLink(links)">
          <span class="icon-button">
            <span class="material-icons">add</span>
          </span>
        </app-button>
      </label>
      <div class="product-links">
        @if (links.length > 0) {
          <ul class="product-links-list">
            @for (link of links; track link.type.internal) {
              <li>
                <a [routerLink]="link.toHref()">
                  <span>
                    <strong>{{ link.type.label }}</strong>: {{ link.name }}
                  </span>
                  <span class="actions">
                    <app-button color="warn" [size]="ButtonSize.SMALL" (click)="removeLink($event, links, link)">
                      <span class="icon-button">
                        <span class="material-icons">delete</span>
                      </span>
                    </app-button>
                  </span>
                </a>
              </li>
            }
          </ul>
        } @else {
          <app-note>Keine Links vorhanden</app-note>
        }
      </div>
    </div>
  }

  @if (fabricComposition$ | async; as fabricCompositionOption) {
    <div class="product-detail">
      <label>
        Stoffzusammensetzung
        <app-button [size]="ButtonSize.SMALL" [disabled]="creating$ | async"
                    (click)="editFabricComposition(fabricCompositionOption)">
          <span class="icon-button">
            <span class="material-icons">edit</span>
          </span>
        </app-button>
      </label>
      @if (fabricCompositionOption | ifSome; as composition) {
        <div class="fabric-composition">
          <table class="fabric-composition-table">
            <thead>
            <tr>
              <th class="fabric-type">Stoffart</th>
              <th class="percentage">Anteil</th>
            </tr>
            </thead>
            <tbody>
              @for (item of composition.getSortedByPercentage(); track item.fabricType.internal) {
                <tr>
                  <td class="fabric-type">{{ item.fabricType.label }}</td>
                  <td class="percentage">{{ item.percentage / 100 }}%</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      } @else {
        <app-note>Keine Stoffzusammensetzung vorhanden</app-note>
      }
    </div>
  }

  @if (notes$ | async; as notes) {
    <div class="product-detail">
      <label>
        Inhaltsangaben
        <app-button [size]="ButtonSize.SMALL" [disabled]="creating$ | async" (click)="editContainsNote(notes)">
          <span class="icon-button">
            <span class="material-icons">edit</span>
          </span>
        </app-button>
      </label>
      <div class="product-contains">
        @if (notes.contains.length > 0) {
          <quill-view [content]="notes.contains"
                      format="json"
                      theme="bubble"
                      style="display: block">
          </quill-view>
        } @else {
          <app-note>Keine Inhaltsangaben vorhanden</app-note>
        }
      </div>
    </div>

    <div class="product-detail">
      <label>
        Pflegehinweise
        <app-button [size]="ButtonSize.SMALL" [disabled]="creating$ | async" (click)="editCareNote(notes)">
          <span class="icon-button">
            <span class="material-icons">edit</span>
          </span>
        </app-button>
      </label>
      <div class="product-care">
        @if (notes.care.length > 0) {
          <quill-view [content]="notes.care"
                      format="json"
                      theme="bubble"
                      style="display: block">
          </quill-view>
        } @else {
          <app-note>Keine Pflegehinweise vorhanden</app-note>
        }
      </div>
    </div>

    <div class="product-detail">
      <label>
        Sicherheitshinweise
        <app-button [size]="ButtonSize.SMALL" [disabled]="creating$ | async" (click)="editSafetyNote(notes)">
          <span class="icon-button">
            <span class="material-icons">edit</span>
          </span>
        </app-button>
      </label>
      <div class="product-safety">
        @if (notes.safety.length > 0) {
          <quill-view [content]="notes.safety"
                      format="json"
                      theme="bubble"
                      style="display: block">
          </quill-view>
        } @else {
          <app-note>Keine Sicherheitshinweise vorhanden</app-note>
        }
      </div>
    </div>
  }

  @if (producedAt$ | async; as producedAt) {
    <div class="product-detail">
      <label>
        Produziert am
        <app-button [size]="ButtonSize.SMALL" [disabled]="creating$ | async" (click)="editProducedAtDate(producedAt)">
          <span class="icon-button">
            <span class="material-icons">edit</span>
          </span>
        </app-button>
      </label>
      <span class="product-produced-at">
        {{ producedAt | date: 'dd.MM.yyyy' }}
        um {{ producedAt | date: 'HH:mm' }}
      </span>
    </div>
  }
</div>

@if (invalid$ | async) {
  <div class="error-container">
    @if (fabricCompositionIsMissing$ | async) {
      <app-note level="error">
        Ohne Stoffzusammensetzung kann das Produkt nicht erstellt werden.
      </app-note>
    }
  </div>
}

<div class="footer">
  <app-button routerLink="..">Abbrechen</app-button>

  <app-button color="primary" [disabled]="cannotCreate$ | async" (click)="create()">
    @if (creating$ | async) {
      <span class="loading-button-text">
          <app-loading-spinner size="16"></app-loading-spinner>
          <span>Erstellt...</span>
        </span>
    } @else {
      Erstellen
    }
  </app-button>
</div>
