:host {
  display: block;
}

label {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.error-container {
  margin-top: 16px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.product-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-left: 2px solid var(--background-low-contrast);
  padding-left: 12px;

  & > label {
    font-size: 0.8em;
  }
}

.product-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;

  .product-image {
    flex-basis: calc(50% - 16px);
    border-radius: 4px;
    overflow: hidden;
  }
}

.image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 128px;
  background-color: var(--background-low-contrast);
  border-radius: 4px;

  & > .material-icons {
    font-size: 32px;
    color: rgba(var(--text-rgb), 0.5);
  }
}

.product-links {
  .product-links-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;

    & > li {
      border-bottom: 1px solid var(--background-low-contrast);

      & > a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: var(--text);
        padding: 16px 12px;
        text-decoration: none;

        .actions {
          display: inline-flex;
          flex-direction: row;
          gap: 8px;
          align-items: center;
        }

        &:hover {
          background-color: var(--background-low-contrast);
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.fabric-composition {
  .fabric-composition-table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;

    tr {
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }

    th {
      user-select: none;
      padding: 8px 16px;
      font-weight: normal;
      font-size: 0.8em;
      color: rgba(var(--text-rgb), 0.7);
      border-bottom: 4px solid var(--background-low-contrast);

      &.fabric-type {
        text-align: left;
      }

      &.percentage {
        text-align: center;
      }
    }

    td {
      padding: 16px 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      border-bottom: 1px solid var(--background-low-contrast);

      &.percentage {
        text-align: center;
      }
    }
  }
}

.footer {
  margin-top: 16px;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  border-top: 1px solid var(--background-low-contrast);
}

.loading-button-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media only screen and (max-width: 1000px) {
  .footer {
    flex-direction: column;
    align-items: stretch;
  }
}
