<div class="form">
  <div class="form-field">
    <label for="name">
      Name
      <span class="input-limit"> {{ nameLength$ | async }} / 200 </span>
    </label>
    <input
      #name
      type="text"
      id="name"
      name="name"
      [disabled]="nameDisabled$ | async"
      (input)="updateName(name.value)" />

    @if (nameTouched$ | async) {
      @if (nameMissing$ | async) {
        <app-note level="error">Bitte gib einen Namen ein</app-note>
      } @else if (nameTooLong$ | async) {
        <app-note level="error">Der Name darf maximal 200 Zeichen lang sein</app-note>
      }
    }
  </div>

  <div class="form-field">
    <label for="mail">
      E-Mail
      <span class="input-limit"> {{ mailLength$ | async }} / 70 </span>
    </label>
    <input
      #mail
      type="email"
      id="mail"
      name="mail"
      required
      [disabled]="mailDisabled$ | async"
      (input)="updateMail(mail.value, mail.checkValidity())" />

    @if (mailTouched$ | async) {
      @if (mailMissing$ | async) {
        <app-note level="error">Bitte gib eine E-Mail Adresse ein</app-note>
      } @else if (mailFormatInvalid$ | async) {
        <app-note level="error">Die E-Mail Adresse scheint ungültig zu sein</app-note>
      } @else if (mailTooLong$ | async) {
        <app-note level="error">Die E-Mail Adresse darf maximal 70 Zeichen lang sein</app-note>
      }
    }
  </div>

  <div class="form-field">
    <label for="phone">
      Telefon (optional)
      <span class="input-limit"> {{ phoneLength$ | async }} / 30 </span>
    </label>
    <input
      #phone
      type="tel"
      id="phone"
      name="phone"
      [disabled]="phoneDisabled$ | async"
      (input)="updatePhone(phone.value)" />

    @if (phoneTouched$ | async) {
      @if (phoneTooLong$ | async) {
        <app-note level="error">Die Telefonnummer darf maximal 30 Zeichen lang sein</app-note>
      }
    }
  </div>

  <div class="form-field">
    <label for="subject">
      Betreff
      <span class="input-limit"> {{ subjectLength$ | async }} / 200 </span>
    </label>
    <input
      #subject
      type="text"
      id="subject"
      name="subject"
      [disabled]="subjectDisabled$ | async"
      (input)="updateSubject(subject.value)" />

    @if (subjectTouched$ | async) {
      @if (subjectMissing$ | async) {
        <app-note level="error">Bitte gib einen Betreff ein</app-note>
      } @else if (subjectTooLong$ | async) {
        <app-note level="error">Der Betreff darf maximal 200 Zeichen lang sein</app-note>
      }
    }
  </div>

  <div class="form-field">
    <label>Nachricht</label>
    <div class="editor-wrapper">
      <quill-editor
        theme="bubble"
        placeholder=""
        style="display: block; height: 400px"
        [modules]="quillModules"
        (onContentChanged)="updateMessage($event)">
      </quill-editor>
    </div>
    <app-note>Selektieren Sie Text in Ihrer Nachricht, um ihn zu formatieren.</app-note>

    @if (messageTouched$ | async) {
      @if (messageMissing$ | async) {
        <app-note level="error">Bitte gib eine Nachricht ein</app-note>
      } @else if (messageTooLong$ | async) {
        <app-note level="error">Die Nachricht ist zu lang</app-note>
      } @else if (messageHtmlTooLong$ | async) {
        <app-note level="error">Die Nachricht ist zu lang</app-note>
      }
    }
  </div>
</div>

<div class="notes">
  <p>
    Ihre Eingaben werden verschlüsselt übertragen. Wir verwenden Ihre Daten ausschließlich zur Bearbeitung der Anfrage.
    Weitere Informationen finden Sie in unserer
    <a href="/legal/privacy-policy" target="_blank">Datenschutzerklärung</a>. Wenn Sie auf „Absenden“ klicken, stimmen
    Sie der Verarbeitung Ihrer Daten zu.
  </p>
</div>

<div class="actions">
  <app-button color="primary" (click)="submit()" [disabled]="cannotSubmit$ | async">
    @if (submitting$ | async) {
      <span class="loading-button-text">
        <app-loading-spinner size="16"></app-loading-spinner>
        <span>Wird gesendet...</span>
      </span>
    } @else {
      Absenden
    }
  </app-button>
</div>
