.contact-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
}

.contact-table {
  border-collapse: collapse;

  td {
    padding: 8px 16px;
    border: 2px solid var(--background-mid-contrast);

    &:first-child {
      font-weight: 300;
      text-align: right;
    }
  }
}
