.theme {
  --primary-1: #ff4e43;
  --primary-1-rgb: 255, 78, 67;

  --primary-2: #8cf2f6;
  --primary-2-rgb: 140, 242, 246;

  --primary-3: #66cc99;
  --primary-3-rgb: 102, 204, 153;

  --yellow: #ffd166;
  --yellow-rgb: 255, 209, 102;

  --mobile-breakpoint: 1000px;

  &.dark {
    --text: #ffffff;
    --text-rgb: 255, 255, 255;

    --red: #ff4e43;
    --green: #66cc99;

    --link: #8cf2f6;

    --primary-1-sub: #ac3f37;
    --primary-1-sub-rgb: 172, 63, 55;

    --primary-2-sub: #05777b;
    --primary-2-sub-rgb: 5, 119, 123;

    --contrast: #000000;
    --contrast-rgb: 0, 0, 0;

    --contrast-lower: #181818;
    --contrast-lower-rgb: 24, 24, 24;

    --contrast-mid: #2c2c2c;
    --contrast-mid-rgb: 44, 44, 44;

    --background: #222222;
    --background-rgb: 34, 34, 34;

    --header: #000000;

    --footer: #000000;

    --background-low-contrast: #333333;
    --background-low-contrast-rgb: 51, 51, 51;

    --background-mid-contrast: #666666;
    --background-mid-contrast-rgb: 102, 102, 102;

    --shadow-rgba: 0, 0, 0, 0.5;
  }

  &.light {
    --text: #000000;
    --text-rgb: 0, 0, 0;

    --red: #ff4e43;
    --green: #66cc99;

    --link: #269599;

    --primary-1-sub: #ffa59f;
    --primary-1-sub-rgb: 255, 165, 159;

    --primary-2-sub: #12d2d9;
    --primary-2-sub-rgb: 5, 119, 123;

    --contrast: #ffffff;
    --contrast-rgb: 255, 255, 255;

    --contrast-lower: #f0f0f0;
    --contrast-lower-rgb: 240, 240, 240;

    --contrast-mid: #e0e0e0;
    --contrast-mid-rgb: 224, 224, 224;

    --background: #eaeaea;
    --background-rgb: 234, 234, 234;

    --header: #ffffff;

    --footer: #ffffff;

    --background-low-contrast: #cccccc;
    --background-low-contrast-rgb: 204, 204, 204;

    --background-mid-contrast: #bbbbbb;
    --background-mid-contrast-rgb: 187, 187, 187;

    --shadow-rgba: 0, 0, 0, 0.2;
  }
}
