:host {
  display: block;
}

.no-results-hint {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--contrast);
  border-radius: 12px;
  padding: 8px;
  text-align: center;
}
