<div class="container">
  <app-loading-bar [visible]="isLoading() | async"></app-loading-bar>

  @if (getTopic() | async; as topicOption) {
    @if (topicOption.unwrap(); as topic) {
      <span class="created-at">
        Erstellt am: {{ topic.createdAt | date: 'dd.MM.yyyy' }} um {{ topic.createdAt | date: 'HH:mm' }} Uhr
      </span>

      <form class="name-form" (submit)="false">
        <div class="form-group">
          <label for="name">Name:</label>
          <input #name id="name" name="name" type="text" [value]="topic.name"
                 (input)="updateTransientName(name.value)"/>
          <app-button (click)="updateName(topic)" [disabled]="cannotUpdateName() | async">Speichern</app-button>
        </div>

        @if (isFailedUpdatingName() | async) {
          <app-note level="error">
            Der Name konnte nicht aktualisiert werden. Bitte versuche es erneut.
          </app-note>
        }

        <button type="submit"
                class="hidden"
                (click)="updateName(topic)"
                [disabled]="cannotUpdateName() | async">
        </button>
      </form>

      <div class="actions">
        <span>
          <app-button routerLink="..">Zurück zur Übersicht</app-button>
        </span>
        <span>
          @if (isDeleteConfirmation() | async) {
            <app-button color="warn" (click)="deleteTopic(topic)">Löschung bestätigen</app-button>
          } @else {
            <app-button color="warn" (click)="waitForDeleteConfirmation()">Thema löschen</app-button>
          }
        </span>
      </div>
    } @else {
      <p>Das Thema konnte nicht gefunden werden.</p>
    }
  }

</div>
