:host {
	display: block;
	width: 100%;

	@media (hover: hover) {
		&:hover {
			opacity: 0.9;
		}
	}
}

.fabric-image-container {
	position: relative;
	width: 100%;
	aspect-ratio: 1;
}

.fabric-image {
	border-radius: 8px 8px 0 0;
	object-fit: cover;
}
