:host {
  display: block;
  width: 100%;
  max-width: 700px;
  height: 600px;
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 65px);
  padding: 16px;
  gap: 12px;
}

.upload-area {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.upload-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.upload-toggle {
  display: flex;
  justify-content: center;
}

.browser-area {
  flex: 1 1 auto;
  overflow: hidden;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  padding: 16px;
  border-top: 1px solid var(--background-low-contrast);
}

@media only screen and (max-width: 1000px) {
  :host {
    width: auto;
    height: auto;
  }

  .footer {
    flex-direction: column;
    align-items: stretch;
  }
}
