$inset: 48px;

:host {
  background-color: var(--text);
  padding: 8px 16px 16px calc($inset + 16px);
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  text-align: center;
  clip-path: polygon(0% 50%, $inset 0%, 100% 0%, 100% 100%, $inset 100%);

  &:after {
    content: "";
    background-color: var(--background);
    position: absolute;
    z-index: -1;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    clip-path: polygon(0% 50%, $inset 0%, 100% 0%, 100% 100%, $inset 100%);
  }

  .hole {
    position: absolute;
    top: calc(50% - 12px);
    left: 10%;
    width: 24px;
    height: 24px;
    border: 2px solid var(--text);
    border-radius: 100%;
  }

  .price-value {
    font-size: 2em;
  }

  .price-info {
    font-size: 0.8em;
  }
}
