:host {
  display: block;
  width: 600px;
}

.content {
  padding: 16px;
}

ul.image-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    flex-basis: calc(100% / 2 - 8px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--contrast);
    border-radius: 12px;
    overflow: hidden;

    .delete-button {
      position: absolute;
      top: 8px;
      right: 8px;
      z-index: 1;
      user-select: none;
      cursor: pointer;
      border-radius: 100%;
      font-size: 32px;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: var(--red);
      }
    }
  }
}

.add-image-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  padding: 16px;
  border-top: 1px solid var(--background-low-contrast);
}

@media only screen and (max-width: 1000px) {
  :host {
    width: auto;
    height: auto;
  }

  .footer {
    flex-direction: column;
    align-items: stretch;
  }

  ul.image-list {
    flex-direction: column;
    flex-wrap: nowrap;

    li {
      flex-basis: 100%;
    }
  }
}
