.theme {
  --primary-1: #FF4E43;
  --primary-1-rgb: 255, 78, 67;

  --primary-1-dark: #71221C;
  --primary-1-dark-rgb: 113, 34, 28;

  --primary-2: #8CF2F6;
  --primary-2-rgb: 140, 242, 246;

  --primary-2-dark: #05777B;
  --primary-2-dark-rgb: 5, 119, 123;

  --primary-3: #66CC99;
  --primary-3-rgb: 102, 204, 153;

  --mobile-breakpoint: 1000px;

  &.dark {
    --text: #FFFFFF;
    --text-rgb: 255, 255, 255;

    --contrast: #000000;
    --contrast-rgb: 0, 0, 0;

    --contrast-lower: #181818;
    --contrast-lower-rgb: 24, 24, 24;

    --contrast-mid: #2C2C2C;
    --contrast-mid-rgb: 44, 44, 44;

    --background: #222222;
    --background-rgb: 34, 34, 34;

    --background-low-contrast: #333333;
    --background-low-contrast-rgb: 51, 51, 51;

    --background-mid-contrast: #666666;
    --background-mid-contrast-rgb: 102, 102, 102;

    --shadow-rgba: 0, 0, 0, 0.5;
  }

  &.light {
    --text: #000000;
    --text-rgb: 0, 0, 0;

    --contrast: #FFFFFF;
    --contrast-rgb: 255, 255, 255;

    --contrast-lower: #F0F0F0;
    --contrast-lower-rgb: 240, 240, 240;

    --contrast-mid: #E0E0E0;
    --contrast-mid-rgb: 224, 224, 224;

    --background: #EAEAEA;
    --background-rgb: 234, 234, 234;

    --background-low-contrast: #CCCCCC;
    --background-low-contrast-rgb: 204, 204, 204;

    --background-mid-contrast: #BBBBBB;
    --background-mid-contrast-rgb: 187, 187, 187;

    --shadow-rgba: 0, 0, 0, 0.2;
  }
}
