section {
	padding: 24px;

	h1 {
		margin-top: 0;
	}
}

.show-all-link {
	display: flex;
	justify-content: center;
	margin-top: 1rem;

	a {
		color: inherit;
		text-decoration: none;
		font-size: 1.1rem;
		opacity: 0.8;
		transition: opacity 0.2s;

		&:hover {
			opacity: 1;
		}
	}
}

.offset-into-highlights {
	margin-top: -160px;
	display: flex;
	justify-content: flex-end;
	margin-right: 10%;
}

@media (max-width: 1280px) {
	.offset-into-highlights {
		margin-top: -100px;
		margin-right: 5%;
	}
}

@media (max-width: 768px) {
	.offset-into-highlights {
		margin-top: 0;
		justify-content: center;
	}
}
