:host {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  background-color: var(--contrast);
  padding: 8px;
  font-size: 16px;
  color: var(--text);
  transition: background-color 0.2s ease-out;

  &.rounded {
    border-radius: 12px;
  }

  &.small {
    padding: 4px;
    font-size: 12px;
  }

  &.large {
    padding: 12px;
    font-size: 20px;
  }

  &:hover, &.active {
    background-color: var(--background-low-contrast);
  }

  &:active {
    background-color: var(--background-mid-contrast);
  }
}
