:host {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  background-color: var(--contrast);
  border-radius: 12px;
  padding: 8px;
  font-size: 16px;
  color: var(--text);
  transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;

  &.small {
    padding: 4px;
    font-size: 12px;
  }

  &.large {
    padding: 12px;
    font-size: 20px;
  }

  &:hover, &.active {
    background-color: var(--contrast-lower);
    box-shadow: inset 0px -2px 0 rgba(var(--text-rgb), 0.2);
  }

  &.in-button-row {
    border-radius: 0;

    &.first-item {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }

    &.last-item {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }

  &.in-button-column {
    border-radius: 0;

    &.first-item {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    &.last-item {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }

}
