:host {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  background-color: var(--contrast);
  padding: 12px 16px;
  font-size: 16px;
  color: var(--text);
  outline: 2px solid transparent;
  transition: background-color 0.2s ease-out, outline-color 0.1s ease-out;

  &.disabled {
    pointer-events: none;
    cursor: default;
    color: var(--background-low-contrast);
    background-color: var(--contrast-lower);
  }

  &:not(.disabled) {
    &.primary {
      background-color: var(--primary-2-dark);
    }

    &.warn {
      background-color: var(--primary-1-dark);
    }
  }

  &.rounded {
    border-radius: 12px;
  }

  &.small {
    padding: 4px 8px;
    font-size: 12px;
  }

  &.fit-content {
    padding: 0;
    font-size: inherit;
  }

  &.large {
    padding: 16px 20px;
    font-size: 20px;
  }

  &:hover, &.active {
    background-color: var(--contrast-lower);
  }

  &:focus {
    outline-color: var(--primary-2);
  }

  &:active {
    outline-color: var(--primary-2);
    background-color: var(--contrast-mid);
  }

  &.in-button-row, &.in-button-column {
    outline: none;
  }
}
