spring:
  application:
    name: kicherkrabbe-server
  codec:
    max-in-memory-size: 50MB
  mongodb:
    uri: mongodb://localhost:27017/kicherkrabbe?replicaSet=rs0
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
assets:
  storage:
    limit: 0
server:
  compression:
    enabled: true
    min-response-size: 2048
  http2:
    enabled: true
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never
