<div class="action-bar">
  <input #search type="text" placeholder="Suchen..." (input)="updateSearch(search.value)"/>
  <app-button routerLink="create">
    <span class="icon-button">
      <span class="material-icons">add</span>
      <span>
        Neuer Stoff
      </span>
    </span>
  </app-button>
</div>

<app-loading-bar [visible]="isLoading() | async"></app-loading-bar>

@if (getFabrics() | async; as fabrics) {
  @if (fabrics.length === 0) {
    @if (isSearching() | async) {
      <p>Es gibt keine Stoffe, die deiner Suche entsprechen.</p>
    } @else if (isFailed() | async) {
      <app-note level="error">
        Es ist ein Fehler aufgetreten. Bitte versuche es später erneut.
      </app-note>
    } @else {
      <p>Es gibt noch keine Stoffe. Versuche einen anzulegen.</p>
    }
  } @else {
    <ul class="fabrics-list">
      @for (fabric of fabrics; track fabric.id) {
        <li [routerLink]="[fabric.id]">
          <!-- TODO Small image of the fabric -->
          <span class="details">
            <span class="name">
              {{ fabric.name }}
            </span>
            <span class="created-at">
              Erstellt am {{ fabric.createdAt | date: 'dd.MM.yyyy' }} um {{ fabric.createdAt | date: 'HH:mm' }} Uhr
            </span>
          </span>
          <!-- TODO Info whether the fabric is published -->
        </li>
      }
    </ul>
  }
}
