<div class="layout">
  <div class="images">
    <ul>
      <li><img src="/assets/examples/example.jpg"></li>
      <li><img src="/assets/examples/example.jpg"></li>
      <li><img src="/assets/examples/example.jpg"></li>
      <li><img src="/assets/examples/example.jpg"></li>
      <li><img src="/assets/examples/example.jpg"></li>
    </ul>
  </div>
  <div class="details">
    <h1>Basic Sweater der Fünfte</h1>

    <div class="price">
      <div class="price-value">ab 25,00 €</div>
      <div class="price-info">zzgl. Versandkosten, ohne Mwst. (Kleinunternehmerregelung)</div>
    </div>
    
    <h2>Basic Variante</h2>

    <p>Wahlweise auch mit Ärmel im Lagenlook.</p>

    <table class="price-table">
      <thead>
      <tr>
        <th>Größe</th>
        <th>Preis</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>80</td>
        <td>25,00 €</td>
      </tr>
      <tr>
        <td>86 - 92</td>
        <td>27,00 €</td>
      </tr>
      <tr>
        <td>98 - 104</td>
        <td>29,00 €</td>
      </tr>
      <tr>
        <td>110 - 116</td>
        <td>31,00 €</td>
      </tr>
    </table>

    <h2>Fake-Druntershirt Variante</h2>

    <p>Wie Basic Variante nur mit 2,00 € Aufpreis.</p>

    <h2>Girly Variante</h2>

    <p>Wie Basic Variante nur mit 4,00 € Aufpreis.</p>

    <h2>Extras</h2>

    <p>
      + 1,00 € für Brusttasche<br>
      + 2,00 € für Bauchtasche<br>
      + 13,00 € für Stickerei
    </p>

  </div>
</div>

