@if (pattern$ | async; as pattern) {
  <h1>{{ pattern.name }}</h1>

  <div class="layout">
    <div class="images">
      @if (images$ | async; as images) {
        <app-image-slider [images]="images" [theme]="theme$ | async"></app-image-slider>
      }
    </div>
    <div class="details">
      <app-price-tag class="price">ab {{ pattern.getStartingPrice().formatted() }}</app-price-tag>

      @if (pattern.variants.length > 1) {
        <h2>Varianten</h2>

        <app-accordion>
          @for (variant of pattern.variants; track variant.id) {
            <app-accordion-item [label]="variant.name">
              @if (variant.description.isSome()) {
                <p>{{ variant.description.orElse('') }}</p>
              }

              <ng-container *ngTemplateOutlet="priceTable; context: { $implicit: variant }"></ng-container>
            </app-accordion-item>
          }
        </app-accordion>
      } @else {
        <ng-container *ngTemplateOutlet="priceTable; context: { $implicit: pattern.variants[0] }"></ng-container>
      }

      @if (pattern.extras.length > 0) {
        <h2>Extras</h2>

        <p>
          @for (extra of pattern.extras; track extra) {
            {{ extra.price.isPositive() ? '+' : '' }}{{ extra.price.formatted() }} {{ extra.name }}<br>
          }
        </p>
      }

      @if (pattern.attribution.isSome()) {
        <hr>

        <div class="attribution">
          <p>Basierend auf dem Schnittmuster
            <span *ngIf="pattern.originalPatternName.isSome()">&raquo;{{ pattern.originalPatternName.orElse('') }}&laquo;</span>
            von &raquo;{{ pattern.attribution.orElse('') }}&laquo;.
          </p>
        </div>
      }
    </div>
  </div>
}

<ng-template #priceTable let-variant>
  <table class="price-table">
    <thead>
    <tr>
      <th>Größe</th>
      <th>Preis</th>
    </tr>
    </thead>
    <tbody>
      @for (sizeRange of variant.sizes; track sizeRange) {
        <tr>
          <td>{{ sizeRange.formatted() }}</td>
          <td>{{ sizeRange.price.formatted() }}</td>
        </tr>
      }
  </table>
</ng-template>
