:host {
  display: block;
}

.mobile {
  display: none;
}

.layout {
  display: flex;
  flex-direction: row;
  gap: 32px;

  .images {
    flex-basis: 60%;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-basis: 50%;
      gap: 8px;

      li {
        list-style: none;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  .details {
    flex-basis: 40%;

    .price {
      margin-bottom: 24px;
    }
  }
}

.price-table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 8px;
    border-bottom: 1px solid var(--background-mid-contrast);
  }

  th {
    text-align: left;
  }
}

h2 {
  margin-top: 24px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 1000px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .layout {
    flex-direction: column;
  }
}

