:host {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  animation: fade-in 0.2s ease;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid var(--contrast-mid);

  h2 {
    margin: 0;
  }

  .close {
    cursor: pointer;
    font-size: 32px;
    color: var(--text);
    border-radius: 100%;
    border: 2px solid transparent;
    transition: border-color 0.2s ease;

    &:hover {
      border-color: var(--text);
    }
  }
}

.content-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(var(--shadow-rgba));
  max-width: 95%;
  max-height: 95%;
  animation: slide-in 0.2s ease;

  & > .dialog-header {
    flex: 0 0 auto;
  }

  & > .dialog-content {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .content-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: unset;
    max-width: none;
    max-height: none;
    border-radius: 0;
  }
}

@keyframes fade-in {
  from {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
  }

  to {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}
