<app-loading-bar [visible]="loading$ | async"></app-loading-bar>

@if (settingsLoaded$ | async) {
  @if (settings$ | async | ifSome; as settings) {
    <h3>Telegram-Einstellungen</h3>

    <div class="form">
      <div class="form-field">
        <label for="apiToken">Bot API Token</label>
        <div class="input-and-actions">
          <input
            #apiToken
            id="apiToken"
            type="text"
            [value]="pendingBotApiToken$ | async"
            [class.error]="botApiTokenInvalidAndTouched$ | async"
            (keydown.enter)="updateBotApiToken(settings, pendingBotApiToken$.value)"
            (input)="updatePendingBotApiToken(apiToken.value)">
          <app-button [disabled]="botApiTokenUnchanged$ | async"
                      (click)="updateBotApiToken(settings, pendingBotApiToken$.value)">
            Speichern
          </app-button>
          <app-button color="warn" [disabled]="cannotClearBotApiToken$ | async" (click)="clearBotApiToken(settings)">
            Token löschen
          </app-button>
        </div>

        @if (botApiTokenInvalidAndTouched$ | async) {
          <app-note level="error">
            Der Token ist ungültig.
          </app-note>
        }
      </div>
    </div>
  }
}
