<div class="content">
  @if (imageIds$ | async; as imageIds) {
    @if (imageIds.length > 0) {
      <ul class="image-list" [nxtSortablejs]="imageIds" [config]="imagesSortableConfig">
        @for (imageId of imageIds; track imageId) {
          <li class="drag-handle">
            <img [src]="getImageUrl(imageId)" width="100%" />
            <span class="delete-button material-icons" (click)="deleteImage(imageId)">close</span>
          </li>
        }
      </ul>
    }
  }
  <div class="add-image-button-container">
    <app-button (click)="selectImages()">
      <span class="icon-button">
        <span class="material-icons">add</span>
        <span>Bilder hinzufügen</span>
      </span>
    </app-button>
  </div>
</div>

<div class="footer">
  <app-button (click)="cancel()">Abbrechen</app-button>
  <app-button color="primary" (click)="save()">Speichern</app-button>
</div>
