:host {
	display: block;
	background-color: rgba(white, 0.7);
	height: 64px;
}

.kicherkrabbe-dark-mode {
	:host {
		background-color: rgba(black, 0.8);
	}
}

.centered {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 48px;
}

.prefix, .suffix {
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.title {
	font-family: "Grandstander", sans-serif;
	font-weight: 400;
	font-size: 32px;
	color: var(--p-id-500);
	text-decoration: none;
	transition: opacity 0.2s ease;

	&:focus {
		outline: none;
	}

	&:hover {
		opacity: 0.7;
	}
}

@media (max-width: 768px) {
	.centered {
		gap: 24px;
		padding: 0 16px;
	}

	.title {
		font-size: 18px;
	}

	.prefix, .suffix {
		font-size: 10px;
		letter-spacing: 1px;
	}
}

@media (max-width: 500px) {
	.centered {
		gap: 12px;
	}

	.title {
		font-size: 24px;
	}

	.prefix, .suffix {
		font-size: 8px;
		letter-spacing: 1px;
	}
}

@media (max-width: 400px) {
	.prefix, .suffix {
		display: none;
	}
}


