@if (items$ | async; as items) {
	@if (items.length > 1) {
		<p-carousel
			[value]="items"
			[numVisible]="4"
			[numScroll]="1"
			[circular]="false"
			[responsiveOptions]="responsiveOptions"
		>
			<ng-template #item let-item>
				<div class="carousel-item">
					@if (item.type === "pattern") {
						<app-pattern-card [pattern]="item.pattern"></app-pattern-card>
					} @else {
						<app-show-more-card
							label="Weitere Schnitte..."
							link="/patterns"
						></app-show-more-card>
					}
				</div>
			</ng-template>
		</p-carousel>
	}
}
