<h1>Datenschutzerklärung</h1>

<p>Zuletzt aktualisiert am 20.02.2024 um 00:42 Uhr</p>

<h2>I. Informationen über die Verarbeitung Ihrer Daten gemäß Art. 13 DSGVO</h2>

<h3>Einleitung</h3>

<p>
  Mit der folgenden Datenschutzerklärung möchten wir Sie darüber aufklären, welche Arten von personenbezogenen Daten
  wir zu welchen Zwecken und in welchem Umfang verarbeiten. Die Datenschutzerklärung gilt für alle von uns
  durchgeführten Verarbeitungen personenbezogener Daten, sowohl im Rahmen der Erbringung unserer Leistungen, als auch
  auf unserer Webseite sowie auf externen Plattformen wie z. B. Instagram.
</p>

<h3>Verantwortliche und Datenschutzbeauftragte</h3>

<p>
  Jenny Michel<br>
  Weststr. 23 &half;<br>
  84416 Taufkirchen (Vils)<br>
  Deutschland<br>
  E-Mail: info&#64;kicherkrabbe.com<br>
  Telefon: +49 176 4321 0815
</p>

<h3>Daten, die im Zuge eines Bestellprozesses und zur Auftragserfüllung verarbeitet werden</h3>

<p>
  Wir bieten handgemachte Kinderkleidung und Accessoires an. Während des Bestellprozesses und zur Auftragserfüllung
  verarbeiten wir personenbezogene Daten, die wir im Folgenden auflisten und deren Nutzung, Umfang und
  Aufbewahrungsdauer erklären. Die Daten werden auf Grundlage des Art. 6 Abs. 1 Buchstabe b) DSGVO verarbeitet.
</p>

<ul>
  <li>Name</li>
  <li>E-Mail-Adresse</li>
  <li>Telefonnummer</li>
  <li>Lieferanschrift</li>
  <li>Rechnungsadresse</li>
  <li>Kleidergröße</li>
</ul>

<p>
  Wir nutzen die Daten, um Ihnen die bestellten Waren anzufertigen und zukommen zu lassen. Nach Abschluss der
  Fertigung der Ware löschen wir die Kleidergröße. Die Lieferanschrift wird nach Abschluss der Lieferung nicht mehr
  benötigt und daher gelöscht. Ihnen wird außerdem eine Rechnung erstellt, die Ihren Namen und Rechnungsadresse
  enthält sowie falls vorhanden die E-Mail-Adresse und Telefonnummer. Aufgrund geltender Aufbewahrungsfristen im
  Steuerrecht müssen die Rechnungsdaten 10 Jahre aufbewahrt werden. Nach Ablauf dieser Frist werden die restlichen
  Daten gelöscht.
</p>

<h3>Daten, die für die Bereitstellung der Webseite und die Erstellung von Protokolldateien verarbeitet werden</h3>

<p>
  Bei jedem Zugriff auf Inhalte der Webseite werden vorübergehend Daten gespeichert, die möglicherweise eine
  Identifizierung zulassen. Erhoben werden:
</p>

<ul>
  <li>Datum und Uhrzeit des Zugriffs</li>
  <li>IP-Adresse</li>
  <li>Hostname des zugreifenden Rechners</li>
  <li>Webseite, von der aus die Webseite aufgerufen wurde</li>
  <li>Webseiten, die über die Webseite aufgerufen werden</li>
  <li>Besuchte Seiten auf unserer Webseite</li>
  <li>Meldung, ob der Abruf erfolgreich war</li>
  <li>Übertragene Datenmenge</li>
  <li>Informationen über den Browser, das verwendete Betriebssystem und deren Versionen</li>
</ul>

<p>
  Die vorübergehende Speicherung der Daten ist für den ordnungsgemäßen Ablauf eines Webseitenbesuchs notwendig.
  Andernfalls kann die Webseite nicht ausgeliefert werden. Eine weitere Speicherung erfolgt in Form von
  Protokolldateien, um die Funktionsfähigkeit und Sicherheit der Webseite und IT-Systeme sicherzustellen. Wir haben
  also ein berechtigtes Interesse nach Art. 6 Abs. 1 Buchstabe f) DSGVO an den Daten.
</p>

<p>
  Wir löschen die Sitzungsdaten, wenn die jeweilige Sitzung beendet ist. Die Protokolldateien sind ausschließlich
  Administratoren zugänglich und werden maximal 30 Tage gespeichert und danach endgültig gelöscht.
</p>

<h3>Betroffenenrechte</h3>

<ol>
  <li>
    <strong>Recht auf Auskunft</strong>: Sie können Auskunft nach Art. 15 DS-GVO über Ihre personenbezogenen Daten
    verlangen, die wir verarbeiten.
  </li>
  <li>
    <strong>Recht auf Widerspruch</strong>: Sie haben ein Recht auf Widerspruch aus besonderen Gründen (siehe unter
    Punkt II.).
  </li>
  <li>
    <strong>Recht auf Berichtigung</strong>: Sollten die Sie betreffenden Angaben nicht (mehr) zutreffend sein, können
    Sie nach Art. 16 DS-GVO eine Berichtigung verlangen. Sollten Ihre Daten unvollständig sein, können Sie eine
    Vervollständigung verlangen.
  </li>
  <li>
    <strong>Recht auf Löschung</strong>: Sie können nach Art. 17 DSGVO die Löschung Ihrer personenbezogenen Daten
    verlangen.
  </li>
  <li>
    <strong>Recht auf Einschränkung der Verarbeitung</strong>: Sie haben nach Art. 18 DSGVO das Recht, eine
    Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
  </li>
  <li>
    <strong>Recht auf Beschwerde</strong>: Wenn Sie der Ansicht sind, dass die Verarbeitung Ihrer personenbezogenen
    Daten gegen Datenschutzrecht verstößt, haben Sie nach Ar. 77 Abs. 1 DSGVO das Recht, sich bei einer
    Datenschutzaufsichtsbehörde eigener Wahl zu beschweren.
  </li>
  <li>
    <strong>Recht auf Datenübertragbarkeit</strong>: Für den Fall, dass die Voraussetzungen des Art. 20 Abs. 1 DSGVO
    vorliegen, steht Ihnen das Recht zu, sich Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines
    Vertrags automatisiert verarbeiten, an sich oder an Dritte aushändigen zu lassen. Die Erfassung der Daten zur
    Bereitstellung der Website und die Speicherung der Protokolldateien sind für den Betrieb der Internetseite
    zwingend erforderlich. Sie beruhen daher nicht auf einer Einwilligung nach Art. 6 Abs. 1 Buchstabe a) DSGVO oder
    auf einem Vertrag nach Art. 6 Abs. 1 Buchstabe b) DSGVO, sondern sind nach Art. 6 Abs. 1 Buchstabe f) DSGVO
    gerechtfertigt. Die Voraussetzungen des Art. 20 Abs. 1 DSGVO sind demnach insoweit nicht erfüllt.
  </li>

</ol>

<h2>II. Recht auf Widerspruch gemäß Art. 21 Abs. 1 DSGVO</h2>

<p>
  Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung
  Ihrer personenbezogenen Daten, die aufgrund von Artikel 6 Abs. 1 Buchstabe f) DSGVO erfolgt, Widerspruch einzulegen.
  Der Verantwortliche verarbeitet die personenbezogenen Daten dann nicht mehr, es sei denn, er kann zwingende
  schutzwürdige Gründe für die Verarbeitung nachweisen, die die Interessen, Rechte und Freiheiten der betroffenen
  Person überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.
  Die Erfassung der Daten zur Bereitstellung der Website und die Speicherung der Protokolldateien sind für den Betrieb
  der Internetseite zwingend erforderlich.
</p>
