name: Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
    branches: [ "main" ]

jobs:
  build-frontend:
    name: Build frontend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Install
        uses: borales/actions-yarn@v5
        with:
          cmd: install
          dir: frontend/legacy
      - name: Build
        uses: borales/actions-yarn@v5
        with:
          cmd: build
          dir: frontend/legacy
      - name: Upload built frontend
        uses: actions/upload-artifact@v4
        with:
          name: frontend
          path: frontend/legacy/dist

  build-customer:
    name: Build customer frontend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - name: Install
        uses: borales/actions-yarn@v5
        with:
          cmd: install
          dir: frontend/customer
      - name: Build
        uses: borales/actions-yarn@v5
        with:
          cmd: build
          dir: frontend/customer
      - name: Upload built customer frontend
        uses: actions/upload-artifact@v4
        with:
          name: customer
          path: frontend/customer/dist

  build-backend:
    name: Build backend
    needs: build-frontend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          build-root-directory: backend
      - name: Download built frontend
        uses: actions/download-artifact@v4
        with:
          name: frontend
          path: frontend/legacy/dist
      - name: Build Jar
        run: ./gradlew :apps:api:bootJar
        working-directory: backend
      - name: Upload built Jar
        uses: actions/upload-artifact@v4
        with:
          name: backend
          path: backend/apps/api/build/libs

  deploy-backend:
    name: Deploy backend
    needs: build-backend
    runs-on: ubuntu-latest
    steps:
      - name: Download built backend Jar
        uses: actions/download-artifact@v4
        with:
          name: backend
          path: backend/apps/api/build/libs
      - name: Deploy backend via SSH
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SOURCE: "backend/apps/api/build/libs/api.jar"
          ARGS: "-rlgoDzvc -i --delete"
          REMOTE_HOST: ${{ secrets.SSH_REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.SSH_REMOTE_USER }}
          REMOTE_PORT: ${{ secrets.SSH_REMOTE_PORT }}
          TARGET: ${{ secrets.SSH_REMOTE_TARGET }}
          SCRIPT_AFTER: |
            service kicherkrabbe-server restart

  deploy-customer:
    name: Deploy customer frontend
    needs: build-customer
    runs-on: ubuntu-latest
    steps:
      - name: Download built customer frontend files
        uses: actions/download-artifact@v4
        with:
          name: customer
          path: frontend/customer/dist
      - name: Deploy customer frontend via SSH
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SOURCE: "frontend/customer/dist/sassycrab"
          ARGS: "-rlgoDzvc -i --delete"
          REMOTE_HOST: ${{ secrets.SSH_REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.SSH_REMOTE_USER }}
          REMOTE_PORT: ${{ secrets.SSH_REMOTE_PORT }}
          TARGET: ${{ secrets.SSH_REMOTE_TARGET }}
          SCRIPT_AFTER: |
            /root/.nvm/versions/node/v22.20.0/bin/npx pm2 reload Sassycrab
