name: Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
    branches: [ "main" ]

jobs:
  build-management:
    name: Build management frontend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
      - name: Enable Corepack
        run: corepack enable
      - name: Install workspace dependencies
        run: yarn install
        working-directory: frontend
      - name: Build
        run: yarn workspace management build
        working-directory: frontend
      - name: Upload built management frontend
        uses: actions/upload-artifact@v4
        with:
          name: management
          path: |
            frontend/management/dist
            frontend/management/server.mjs
            frontend/management/package.json

  build-customer:
    name: Build customer frontend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
      - name: Enable Corepack
        run: corepack enable
      - name: Install workspace dependencies
        run: yarn install
        working-directory: frontend
      - name: Build
        run: yarn workspace customer build
        working-directory: frontend
      - name: Upload built customer frontend
        uses: actions/upload-artifact@v4
        with:
          name: customer
          path: frontend/customer/dist

  build-backend:
    name: Build backend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          build-root-directory: backend
      - name: Build Jar
        run: ./gradlew :apps:api:bootJar
        working-directory: backend
      - name: Upload built Jar
        uses: actions/upload-artifact@v4
        with:
          name: backend
          path: backend/apps/api/build/libs

  push-backend:
    name: Push backend image
    needs: build-backend
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download built backend Jar
        uses: actions/download-artifact@v4
        with:
          name: backend
          path: backend/apps/api/build/libs
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: backend
          push: true
          tags: |
            ghcr.io/bennyboer/kicherkrabbe-server:latest
            ghcr.io/bennyboer/kicherkrabbe-server:${{ github.sha }}

  push-customer:
    name: Push customer image
    needs: build-customer
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download built customer frontend files
        uses: actions/download-artifact@v4
        with:
          name: customer
          path: frontend/customer/dist
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: frontend/customer
          push: true
          tags: |
            ghcr.io/bennyboer/kicherkrabbe-customer:latest
            ghcr.io/bennyboer/kicherkrabbe-customer:${{ github.sha }}

  push-management:
    name: Push management image
    needs: build-management
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download built management frontend files
        uses: actions/download-artifact@v4
        with:
          name: management
          path: frontend/management
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: frontend/management
          push: true
          tags: |
            ghcr.io/bennyboer/kicherkrabbe-management:latest
            ghcr.io/bennyboer/kicherkrabbe-management:${{ github.sha }}

  deploy:
    name: Deploy stack
    needs: [push-backend, push-customer, push-management]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Copy deploy files
        uses: appleboy/scp-action@v1.0.0
        with:
          host: ${{ secrets.SSH_REMOTE_HOST }}
          username: ${{ secrets.SSH_REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_REMOTE_PORT }}
          source: "deploy/docker-swarm.yml,deploy/traefik.yml"
          target: /opt/kicherkrabbe
          strip_components: 1
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SSH_REMOTE_HOST }}
          username: ${{ secrets.SSH_REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_REMOTE_PORT }}
          script: |
            cd /opt/kicherkrabbe
            docker pull ghcr.io/bennyboer/kicherkrabbe-server:latest
            docker pull ghcr.io/bennyboer/kicherkrabbe-customer:latest
            docker pull ghcr.io/bennyboer/kicherkrabbe-management:latest
            set -a && source .env && set +a
            docker stack deploy -c docker-swarm.yml kicherkrabbe
