<ul class="card-list">
  @for (item of items; track item.link) {
    <a [routerLink]="item.link">
      <li class="card-list-item">
        <div class="upper-content">
          @if (template | ifSome; as tmpl) {
            <div>
              <ng-container *ngTemplateOutlet="tmpl; context: { $implicit: item }"></ng-container>
            </div>
          } @else {
            <div class="image">
              <img [src]="item.imageUrl" alt="@{item.title}">
            </div>
          }
        </div>
        <div class="content">
          @if (descriptionTemplate | ifSome; as tmpl) {
            <ng-container *ngTemplateOutlet="tmpl; context: { $implicit: item }">
            </ng-container>
          } @else {
            <div class="title">{{ item.title }}</div>
            @if (item.description | ifSome; as description) {
              <div class="description">{{ description }}</div>
            }
          }
        </div>
      </li>
    </a>
  }
</ul>
