ul.cards {
  margin: 16px 0 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;

  & > a {
    flex-basis: calc(50% - 6px);
    text-decoration: none;
    color: inherit;

    &:hover {
      li > label {
        text-decoration: underline;
      }
    }
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 2px solid var(--background-low-contrast);
    padding: 12px 16px;
    gap: 16px;

    & > .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      & > .material-icons {
        font-size: 32px;
      }
    }

    & > .content {
      display: flex;
      flex-direction: column;
      gap: 4px;

      label {
        cursor: pointer;
        font-size: 21px;
        font-weight: 200;
      }

      p {
        margin: 0;
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 8px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  ul.cards {
    & > a {
      flex-basis: 100%;
    }
  }
}
